/* Fonts and Text ------------------------------------------------------------------------ */

@font-face {
	font-family: 'Edo';
	src: url('../media/edosz.ttf') format('truetype');
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('../media/BebasNeue Book.otf') format('truetype');
}

@font-face {
	font-family: 'Lato Thin';
	src: url('../media/Lato-Thin.ttf') format('truetype');
}

#PageTitle {
	font-family: 'Edo';
	font-size: 200px; /* ????? */
}

#MenuLink {
	font-family: 'Bebas Neue Book';
	font-size: 28px;
	color: white;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Edo';
	font-size: 50px; /* should be 85 */
}

h2 {
	font-family: 'Bebas Neue Book';
	font-size: 28px;
}

p {
	font-family: 'Lato Thin';
	font-size: 14px;
}

table, th, td { /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
   /* border: 1px solid black; */
}

/* Positioning and Sizing ---------------------------------------------------------------- */

#HomeArea, #SolutionArea, #ProblemArea, #WhatArea, #AboutArea { 
	/* height: 100vh;
	min-height: 800px; */
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: table;
    /* position: absolute;
    height: 100%; */
}

#HomeContent, #SolutionContent, #ProblemContent, #WhatContent, #AboutContent { 
    display: table-cell;
    vertical-align: middle;
}

#HomeInner, #SolutionInner, #ProblemInner, #WhatInner, #AboutInner { 
    margin-left: auto;
    margin-right: auto; 
    /* width: whatever width you want */
    /*padding-top: 350px;
    padding-bottom: 350px;
    vertical-align:bottom;*/
}

#HomeArea { 
	background-color: #ffffff;
	height: 1080px;
	background-image: url('../media/tape_cut.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

#SolutionArea {
	background-color: #de302f;
	height: 1080px;
	color: white;
	text-align: left;
}

#WhatArea { 
	background-color: #f0f0f0;
	height: 850px;
}

#ProblemArea { 
	background-color: #de302f;
	height: 1490px;
}

#AboutArea { 
	background-color: #f0f0f0;
	height: 1560px;
}

td {
	vertical-align: middle;
}

#TableText {
	text-align: left;
}

/* Pop-out Navigation -------------------------------------------------------------------- */
/* Pop-out navigation CSS: https://codyhouse.co/gem/full-screen-pop-out-navigation/ */

.cd-header {
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cd-header.is-fixed {
	position: fixed;
	top: -80px;
	/* background-color: ???; */
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cd-header.is-visible {
	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.cd-primary-nav-trigger {
	/* height: 40px;
	width: 40px;
	z-index: 2; */
	float:right;
	position: fixed;
	right: 0;
	top: 0;
	margin-top: 80px;
    margin-right: 80px;
}

.cd-primary-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1;
  text-align: center;
  padding: 80px 0; /* Top padding for nav items */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}