@import ../../node_modules/bulma/bulma/utilities/utilities
@import ../../node_modules/bulma/bulma/config/variables
@import ../../node_modules/bulma/bulma/config/generated-variables
@import ../../node_modules/bulma/bulma/base/base
@import ../../node_modules/bulma/bulma/elements/elements
@import ../../node_modules/bulma/bulma/components/components
@import ../../node_modules/bulma/bulma/layout/layout

body
	text-align: center
	margin: 0px
	// -webkit-transform: rotateY(180deg)
  // transform: rotateY(180deg)
.heh
	z-index: 1

#page-one
	background-color: white
	z-index: -2

#page-two
	background-color: gray

.banner
	background-color: gray
	padding-top: 20px
	padding-bottom: 20px

.content
	padding-top: 15px
	padding-bottom: 15px

div
	padding-bottom: inherit
	padding-top: inherit

.button
	max-width: 20%

input
	margin: 15px

#cursor
	position: absolute

.pageOne
	position: relative

@import ./SongCard
