@import 'font/proxima_nova.scss';

$family-primary: 'proxima_nova_rgbold';
$rock-red: #ef2222;
$mixta-grey: #646464;

@import '~bulma/bulma/utilities/utilities.sass';
@import '~bulma/bulma/config/variables.sass';

@import '~bulma/bulma/config/generated-variables.sass';
@import '~bulma/bulma/base/base.sass';
@import '~bulma/bulma/elements/elements.sass';
@import '~bulma/bulma/components/components.sass';
@import '~bulma/bulma/layout/layout.sass';

@import 'font/edo.scss';

// COLORS
* {
	box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0px;
}

.invis {
	opacity: 0;
}


div {
	padding-bottom: inherit;
	padding-top: inherit;
}

.button {
	max-width: 20%;
}

#cursor {
	position: absolute;
}

.station-card{
    width: 225px;
    margin: 75px;
    margin-top: 20px;
    float:left;
    }

.is-uppercase {
	text-transform: uppercase;
}

@import './SongCard';
@import './projector';
@import './peter';
