@import '~bulma/bulma/utilities/utilities.sass';
@import '~bulma/bulma/config/variables.sass';
@import '~bulma/bulma/config/generated-variables.sass';
@import '~bulma/bulma/base/base.sass';
@import '~bulma/bulma/elements/elements.sass';
@import '~bulma/bulma/components/components.sass';
@import '~bulma/bulma/layout/layout.sass';

// COLORS

body {
	text-align: center;
	margin: 0px;
}
	// -webkit-transform: rotateY(180deg)
  // transform: rotateY(180deg)
.heh {
	z-index: 1;
}

#page-one {
	background-color: white;
	z-index: -2;
}

#page-two {
	background-color: gray;
}


.y.axis line {
	stroke: lightgray;
}


.y.axis path {
	display: none; 
}

.axis text {
	fill: #FFFFFF;
}
	
		
.content {
	padding-top: 15px;
	padding-bottom: 15px;
}

.graphSpace{
	height: 634px;
}

.rockJourney{
	text-align: left;
	margin-top: 75px;
	margin-bottom: 50px;
	font-size: 24pt;
	color: #d8d8d8;
}

.endKiosk {
	background: #272727;
	margin-left: 50px;
	margin-right: 50px;
}

.banner{
	background-color: #272727;
	height: 150px;
}

.bannerHead {
	font-size: 64pt
	color: #FFFFFF
	line-height: 150px
}
	

#endButton{
	background-color: #7B7B7B;
	border-color: #7B7B7B;
}

.backButton{
	float: left;
	font-size: 32pt;
	color: #cccccc;
	line-height: 150px;
}

::-webkit-scrollbar  {
    display: none;
}


#endKioskButton{
	background-color: #7B7B7B;
	border: none !important;
	margin: 25px;
}

input:focus {
	outline: none;
}

input {
	margin: 15px;
	color: #FFFFFF;
	text-align: center;
	background: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

div {
	padding-bottom: inherit;
	padding-top: inherit;
}

.button {
	max-width: 20%;
}

#cursor {
	position: absolute;
}

.pageOne {
	position: relative;
}

@import './SongCard';
