@import 'font/edo.scss';

@font-face {
	font-family: 'novaRegular';
	src: url('font/ProximaNova-Regular.otf');
}

@font-face {
	font-family: 'novaBold';
	src: url('font/ProximaNova-Bold.otf');
}

@font-face {
	font-family: 'novaBlack';
	src: url('font/ProximaNova-Black.otf');
}



/*graph stuff*/

.y.axis line {
	stroke: lightgray;
}


.y.axis path {
	display: none; 
}

.axis text {
	fill: #FFFFFF;
}



/*main body content stuff */

.content {
	height: 490px;
	margin-top: 160px;
}

.contentText{
	margin-top: 186.5px;
}

.contentDesc{
	font-family: 'novaRegular';
	font-size: 26pt;
	color: #eeeeee;
	margin-bottom: 50px;
	margin-left: 35px;
	margin-right: 35px;
}

#black{
	font-family: 'novaBlack';
	margin-bottom: 32px;
}

.contentInput{
	margin-bottom: 54px;
}

.contentButton{
	height: 125px;
	margin-top: 233px;
}

.contentCodeButton{
	height: 125px;
	margin-top: 183px;
}



/*banner stuff*/

.banner{
	height: 392px;
	margin-left: -25px;
	margin-right: -25px;
}

.bannerTitle{
	height: 75px;
	line-height: 75px;
	font-family: 'edoregular';
	font-size: 48pt;
	color: #eeeeee;

}

.bannerText{
	padding-top: 20px;
}

.bannerHead {
	font-size: 32pt;
	color: #FFFFFF;
	line-height: 75px;
}

.imgAsset{
	margin-top: 98.5px;
}



/* button stuff */

#endButton{
	font-family: 'novaBold';
	font-size: 18pt;
	color: #202020;
	background-size: 231px 52.5px;
	background-repeat: no-repeat;
	background-image: url("../../src/client/tablet/assets/button_bg.png");
	width: 235px;
	height: 55px;
	margin: 0px auto;
	line-height: 52.5px;
}


.backButton{
	float: left;
	font-family: 'novaBold';
	font-size: 18pt;
	color: #cccccc;
	line-height: 75px;
	position: absolute;
	margin-left: 20px;
}

.backArrow{
	margin-right: 7.5px;
	color: blue;
  	fill: currentColor;
  	padding-top: 15%;
}

#endKioskButton{
	background-color: #7B7B7B;
	border: none !important;
	margin: 12.5px;
}



/* card stuff */

.cards{
	overflow-x: auto;
	height: 690px;
}

::-webkit-scrollbar  {
    display: none;
}



/* input stuff */

input:focus {
	outline: none;
}

.codeInput {
	font-family: 'edoRegular';
	font-size: 96pt;
	width: 500px;
	margin: 7.5px;
	color: #eeeeee;
	text-align: center;
	background: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-width: 5px;
	letter-spacing: 20px;
}

.contentInput div{
	font-size: 18pt;
	font-family: 'novaRegular';
	width: 500px;
	margin: 0px auto;
	text-align: left;
	text-indent: 15px;
}

::-webkit-input-placeholder{
	/*placeholder styles here*/
}

/*sound station */
.songStationTitle{
	font-family: 'edo';
	font-size:50px;
	float:left;

}



/* no idea stuff */

.graphSpace{
	height: 317px;
}

.rockJourney{
	text-align: left;
	margin-top: 37.5px;
	margin-bottom: 25px;
	font-size: 12pt;
	color: #d8d8d8;
}

.endKiosk {
	background: #272727;
	margin-left: 25px;
	margin-right: 25px;
}	

.circles {
	margin-bottom: 36px;
}

.lowOpacity{
	opacity: .25;
}

.firstButton {
	opacity: .25;
}

/* image shit */

.ppbg {
  height: 25%;

}

.playButton{
  height: 20%;
  margin-top: 8.5px;
}