#projector {
	position: relative;
  margin-top: 50px;
  margin-bottom: 70px;
  box-model: border-box;
}

.pg1-title {
  padding-top: 230px;
}

.band-history {
  margin-top: 90px;
}

.bottom-button {
  position: absolute;
  bottom: 70px;
  margin: 0 auto;
}

#selection {
  margin: 0 auto;
}
