#projector {
	transform: rotateY(180deg);
	position: relative;
  margin-top: 50px;
  margin-bottom: 70px;
  box-model: border-box;
}

.pg1-title {
  padding-top: 230px;
	font-size: 100px;
	font-family: 'edoregular';
	color: white;
}

.band-history {
  margin-top: 90px;
}

.bottom-button {
  position: absolute;
  bottom: 70px;
	left: calc(50% - 230px);
	background-image: url('../img/button_bg.png');
	height: 113px;
	width: 462px;
	text-align: center;
	color: black;
	font-size: 30px;
	padding-top: 30px;
}

.bottom-button-arrow {
	width: 10%;
}

#selection {
	width: 90%;
  margin: 0 auto;
}

#suggestion {
	width: 90%;
  margin: 0 auto;
}

.artist-card {
  margin-left: 23px;
  margin-right: 23px;
  width: 300px;
  display: inline-block;
}

// Video stuff
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.is-text-white {
	color: white;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
