.flip-container {
  perspective: 1000;
  backface-visibility: hidden;
  background-color: white;

  .flipper {
    transform-style: preserve-3d;
    position: relative;
    background-color: white;

    .face {
      backface-visibility: hidden;
      position: absolute;
      background-color: white;
      top: 0;
      left: 0;
    }

    .front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    .back {
      z-index: -3;
      transform: rotateY(180deg);
    }
  }
}

.song-card {
  width: 30%;

  margin: 0px; 
  display: inline-block;
}

.song-card-face {
  width: 100%;
  background-color: white;
}

.song-card-name {
  min-height: 102px; // should be 147 ratio is .693
  max-height: 102px;
}

.song-card-button {
  min-height: 60px; // should be 87
  max-height: 60px;
}

// smaller card is 60% of large card
.song-card-info {
  min-height: 300px; // should be 429
  max-height: 300px;
}

.flip-button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  // margin-left: 260px;
  min-width: 40px;
  max-width: 40px;
  height: 30px;
}
