.flip-container {
  perspective: 1000;
  backface-visibility: hidden;

  .flipper {
    transform-style: preserve-3d;
    position: relative;

    .face {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    .back {
      z-index: -3;
      transform: rotateY(180deg);
    }
  }
}

.song-card {
  margin-left: 23px;
  margin-right: 23px;
  width: 300px;
  display: inline-block;
}

.card-width {
  width: 300px;
}

.selected-card-width {
  width: 400px;
}

.song-card-face {
  width: 100%;
  background-color: white;
}

.song-card-name {
  min-height: 34%; // should be 147 ratio is .693
  max-height: 34%;
}

.song-card-button {
  min-height: 20%; // should be 87
  max-height: 20%;
  border-top: 1px solid $rock-red;
  background-color: white;

  .song-card-button-link {
    font-family: proxima_nova_rgbold;
    font-size: 20px;
    color: $rock-red;
  }

  .remove-button {
    color: $mixta-grey;
  }

  .card-add-icon, .card-remove-icon {
    width: 7.5%;
    margin-right: 2%;
  }
}

// smaller card is 60% of large card
.song-card-info {
  min-height: 100%; // should be 429
  max-height: 100%;
}

.flip-button {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  background: url(../img/flip_arrow_bg.svg);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position: 0px -10px;
  // margin-left: 260px;
  min-width: 20%;
  max-width: 20%;
  height: 15%;
  .flip-button-arrow {
    width: 55%;
    margin-left: 15%;
    margin-top: 10%;
  }
}
